table{
    width: 800px;
    height: 400px;
    border: solid rgb(194, 209, 209) 7px;
    margin: auto;
}

td{
    border:solid rgb(153, 160, 153) 5px;
}

th{
    border: solid rgb(153, 160, 153) 5px;
}

tfoot{
    background-color: greenyellow;
    font-size: 50px;
    text-align: center;
    height: 50px;
}

tfoot td {
    height: 50px;
}
.table2{
    border-collapse: collapse;
}
.table3{
    width: 1500px;
    height: 600px;
    border-collapse: collapse;
}